<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Redirect everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

       # Fix storage asset links
    RewriteCond %{REQUEST_URI} ^/storage/(.*)$
    RewriteRule ^storage/(.*)$ /public/storage/$1 [L]
</IfModule>
